@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

$border-size: 10px;

.square {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: #414141;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border: $border-size solid transparent;
    border-top: $border-size solid white;
    border-right: $border-size solid white;
    opacity: 0.05;
  }

  &.active {
    background-color: red;
    transition: all $transition-time ease-in;

    &::after {
      opacity: 0.3;
    }
  }
}
