@import 'assets/styles/variables';
@import 'assets/styles/fonts';
@import 'assets/styles/fontello';


:root {
  --color-gray: #292929;
  --color-white: #FFFFFF;
}

body {

  &.light {
    --color-background: var(--color-white);
  }

  &.dark {
    --color-background: var(--color-gray);
  }
}
